@media(min-width:600px) {

  .pagina-principal img:nth-child(1) {
    width:720px;
    height: 732px;
  }

  .pagina-principal .conteudo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .pagina-principal .titulo-imagem h1 {
    font-size: 58px;
    margin-bottom: 8px;
  }

  .pagina-principal .titulo-imagem h2 {
    font-size: 32px;
  } 
}
