@media(min-width:600px) {

  .pagina-principal {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 29px;
  }

  .pagina-principal .imagem {
    width: 719px;
    height: 732px;
    padding-bottom: 103px;
  }

  .pagina-principal .titulos-imagens h1 {
    font-size: 58px;
  }

  .pagina-principal .titulos-imagens h2 {
    font-size: 32px;
  }

  .titulos-imagens img {
    padding-right: 475px;
  }

  main .cartoes-planetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .cartoes-planetas .cartao h2 {
    font-size: 35px;
  }

  .cartoes-planetas .cartao p {
    font-size: 18px;
  }

  main .cartoes-planetas .cartao {
    width: 366px;
    height: 448px;
  }

  main .pagina-formulario  {
    display: flex;
    align-items: normal;
    padding-left: 329px;
  }

  main .botao-enviar  {
    width: 151px;
    height: 45px;
  }

}