:root {
  font-size: 62.5%;
  --cor-do-titulo: #b52184;
  --cor-do-subtitulo: #302c63;
  --cor-cartoes-planetas: #ffffff;
  --cor-linear-fundo1: #302c63;
  --cor-linear-fundo2: #343091;
}

body {
  font-family: Mulish, sans-serif;
}

.pagina-principal h1 {
  font-size: 3.2rem;
  color: var(--cor-do-titulo);
  font-weight: 900;
}

.pagina-principal h2 {
  font-size: 2.0rem;
  color: var(--cor-do-subtitulo);
}

.pagina-principal {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartoes-planetas {
  background: rgb(52, 49, 147);
  background: linear-gradient(69deg, #343193 0%, #302c63 100%);
}
.cartoes-planetas h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cor-do-titulo);
}

.cartoes-planetas p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor-do-subtitulo);
}
