:root {
  font-size: 62.5%;
  --cor-do-titulo: #b52184;
  --cor-do-subtitulo: #302c63;
  --cor-cartoes-planetas: #ffffff;
  --cor-linear-fundo1: #302c63;
  --cor-linear-fundo2: #343091;
}

body {
  font-family: Mulish, sans-serif;
}

.pagina-principal h1 {
  font-size: 3.2rem;
  color: var(--cor-do-titulo);
  font-weight: 900;
}

.pagina-principal h2 {
  font-size: 2.0rem;
  padding-bottom: 3.5rem;
  color: var(--cor-do-subtitulo);
}

.pagina-principal img:nth-child(1) {
  padding-bottom: 1.7rem;
}

.pagina-principal img:nth-child(4) {
  padding-bottom: 9.3rem;
}

.pagina-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartoes-planetas {
  background: rgb(52, 49, 147);
  background: linear-gradient(69deg, #343193 0%, #302C63 100%);
  padding: 5.0rem 3.9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5.0rem;
}

.cartoes-planetas h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding-bottom: 1.8rem;
  color: var(--cor-do-titulo);
}

.cartoes-planetas p {
  font-size: 1.5rem;
  width: 26.7rem;
  font-weight: bold;
  color: #312D64;
}

.cartoes-planetas .cartao {
  background-color: #ffffff;
  border-radius: 2.0rem;
  width: 35.2rem;
  height: 33.7rem;
  padding: 2.6rem;
}

.cartoes-planetas img {
  width: 8.0rem;
  height: 8.0rem;
  margin-bottom: 2.4rem;
}

.pagina-formulario {
  padding: 8.0rem 4.0rem;
}

.pagina-formulario h1 {
  font-size: 3.2rem;
  color: var(--cor-do-titulo);
  margin-bottom: 4.3rem;
}

.pagina-formulario .input-nome input {
  border: none;
  border: 2px solid #312D64;
  border-radius: 1.6rem;
  padding: 1.6rem 5.0rem 1.6rem;
  margin-bottom: 2.4rem;
  width: 34.8rem;
}

.pagina-formulario .input-nome input::placeholder {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Mulish, sans-serif;
  color: #312D64;
}

.pagina-formulario .input-email input {
  border: none;
  border: 2px solid #312D64;
  border-radius: 1.6rem;
  padding: 1.6rem 5.0rem 1.6rem;
  margin-bottom: 2.4rem;
  width: 34.8rem;
}

.pagina-formulario .input-email input::placeholder {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Mulish, sans-serif;
  color: #312D64;
}

.pagina-formulario .input-area-texto textarea {
  border: none;
  border: 2px solid #312D64;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.6rem;
  margin-bottom: 2.4rem;
  width: 34.8rem;
  height: 12.6rem;
}

.pagina-formulario .input-area-texto textarea::placeholder {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Mulish, sans-serif;
  color: #312D64;
}

.pagina-formulario {
  position: relative;
}

.pagina-formulario img {
  position: absolute;
  background-size: cover;
  padding: 1.2rem 1.4rem 1.2rem;
}

.botao-enviar {
  border: none;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: rgb(52, 49, 147);
  background: linear-gradient(69deg, #343193 0%, #302C63 100%);
  font-size: 1.4rem;
  color: white;
  font-family: Mulish, sans-serif;
  font-weight: bold;
  margin-bottom: 2.4rem;
}